body {
  background-color: black;
}

#button {
  color: black;
  font-family: Comic Sans MS;
  position: relative;
  left: 45%;
  border-radius: 12px;
  width: 125px;
  outline: none;
  
}

h1 {
  font-family: Comic Sans MS;
  color: white;
  text-align: center;
}

td {
    border: 3px solid white;
    height: 150px;
    width: 150px;
    text-align: center;
    font-family: Comic Sans MS;
    font-weight: bold;
    color: white;
  }
  td:hover {
    background: blue;
    cursor: pointer;
  }
  table {
    border: 4px groove blue;
    margin: 0 auto;
  }

  